<h1>Add List</h1>                                                
                                                                                
{% if error_message %} <p><strong>{{ error_message }}</strong></p> {% endif %}  
                                                                                
<form action="{% url 'addlist' %}" method="post">                   
{% csrf_token %}                                                            
    <input type="text" name="listname" id="list1"/>                         
    <p><label for="list1">List 1</label><br/></p>                                  
    <input type="submit" value="Add List"/>                                     
</form>      
